@import "tailwindcss";
@import "@heroui/styles";
@plugin "daisyui";

:root {
  --primary: #202940;
  --secondary: #4b4038;
  --muted: #9a8678;
  --accent: #caaa98;
  --background: #f8f5f2;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--primary);
}

.swiper-button-next,
.swiper-button-prev {
  color: #202940 !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 22px !important;
  font-weight: 700;
}
